<div class="container">
  <%= week_calendar(events: @bookmarks, attribute: :date) do |date, bookmarks| %>
    <%= date %>
    <% bookmarks.each do |bookmark| %>
      <div class="bookmark">
        <p><%= bookmark.recipe.name %></p>
        <i class="fa-solid fa-clock  styling-secondary-card"><%= bookmark.recipe.prep_time%></i>
      </div>
    <% end %>
  <% end %>
</div>
