// Section 1

.home-heading {
  margin-top: 200px;
  h1 {
    font-size: 50px;
  }

  p {
    font-size: 20px;
  }
  a {
    border-radius: 5px;
  }
  .btn {
    background-color: $primary-green;
  }
}


#one {
  height: calc(100vh - 56.814px); //Section 1 display
}

// Section 2

.home-middle {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;


  h1{
    font-size: 50px;
  }

}

#two {
  height: 100vh; // Section 2 display
}

// Section 3

.home-end {
  h1{
    font-size: 50px;
  }

height: 95vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}

#three {
  height: 100vh; // Section 3 display
}

.arrow  {
  font-size: 32px;
}
