<div class="container">
  <div class="centered-text">
    <h1>Eating healthy has never been easier</h1>
    <div class="d-flex search-bar">
      <input type="text" class="offset-left">
      <button>hello</button>
    </div>
  </div>
  <div class="cards">
    <% @recipes.each do |recipe| %>
      <div class="card-recipe">
        <%= link_to recipe_path(recipe) do %>
          <img src="<%recipe.video_url%>" />
          <div class="card-recipe-infos">
            <div>
              <h2><%= recipe.name %></h2>
              <p>Short description here!</p>
            </div>
            <h2 class="card-recipe-pricing">£99.99</h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-recipe-user avatar-bordered" />
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
