<div class="container">
  <div class="row">
    <div class="col-6 pt-4">
      <h1>What would you like to do today?</h1>
      <li>Import a recipe</li>
      <li>Create a recipe</li>
    </div>
    <div class="col-6 p-0">
      <img id="banner" src="https://res.cloudinary.com/dukmyo3cc/image/upload/w_517,ar_1:1,c_fill,g_auto,e_art:hokusai/v1678208787/shutterstock_1927957934.0_naatzp.jpg" alt="">
    </div>
  </div>
</div>
