
<div class="divider">
</div>

<footer class="footer" >
  <div class="footer-container d-flex justify-content-between">

      <%# Footer Links  %>

    <div class="footer-links">
      <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
    </div>

     <%# Footer logo %>

    <div class="footer-logo">
      <%= image_tag "Logo_Primary_Green.png"  %>
    </div>

      <%# Footer Copyright %>

    <div class="copyright">
     <p>&copy; 2023 Recipeasy</p>
    </div>


  </div>
</footer>
