<footer class="footer-color">

  <div class="container d-flex justify-content-between">
    <div class="margin">
      <div> <strong>contact</strong>
      <p>info@recipe.co.uk</p>
      <p>85 Greatland Port</p>
      <p>W12 7LF</p>
      <p>London</p>
      <p>United Kingdom</p>
      </div>
    </div>

    <div class="subscribe">
      <strong>subscribe</strong>
      <div class="search-email">
        <form class="search-form" action="#" method="get">
          <input type="text" name="search" placeholder="email">
          <button type="submit" class="submit"> > </button>
          <h6> </h6>
        </form>
      </div>
    </div>
  </div>

  <div class="footer-logo">
      <%= image_tag "Logo_Primary_Green.png" %>
  </div>

  <div class="footer-contact">
    <div class="">
      <div class="footer-links">

        <a href="https://github.com/Aishaahh2"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/aisha-hersi-709b3825a/ "><i class="fab fa-linkedin"></i></a>
      </div>
    </div>

    <div class="">
      <ul>
        <li class="c-uhff-footer_privacyandcookies">
            Privacy
        </li>
        <li class="" class="c-uhff-footer_managecookies">
            Manage cookies
        </li>
        <li class="c-uhff-footer_termsofuse">
            Terms of use
        </li>
        <li class="c-uhff-footer_aboutourads">
            About our ads
            <p>&copy; 2023 Recipeasy</p>
        </li>
      </ul>
    </div>
  </div>

</footer>
