.simple-calendar {
  table {
    min-height: 20vh;
  }
  .today {
    background-color: white;
  }
}

.key-placement{
 align-items: right;

}

.name-time{
  display: flex;
  justify-content: space-between;
  text-decoration: none !important;
  color: $primary-green;

  .time{
    margin-top: 1.5rem;
    padding-right: 0.6rem;
    justify-content: space-between;
  }
}

.secondary-styling{
  color: $secondary-orange;
}

.primary-styling{
  color: $primary-green;
}

.timing{
  display: flex;
  .digits{
    padding-left: 0.1rem;
  }
}

.bookmark {
  background-color: lightgrey;
  padding: 4px;
  border-radius: 4px;
  transition: background 0.3s ease;
  font-size: 14px;
  margin: 2px;
}

.nav-styling {
  background-color: $secondary-orange !important;
  color: rgba(0, 0, 0, 0.55);
  border-radius: 10%;
  margin-top: 2rem;
  font-size: 12px;
}

.month-styling {
  background-color: $primary-green !important;
  color: rgba(0, 0, 0, 0.55);
  border-radius: 10%;
  margin-top: 2rem;
}



.calendar-heading{
  display: flex;
}

.delete{
  align-items: right;
}

.bottom-info{
  display: flex;
  justify-content: space-between;
}

.nav-buttons{
  background-color: white;
  color: $primary-green;
  text-decoration: none;
  outline: $primary-green;
  margin: 0.7rem;
  font-size: 20px;
}

.month-display{
  background-color: white;
  color: $primary-green;
  padding-top: 0.85rem;
}
