.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}

.centered{
  margin: auto;
}

.icon-margin-top{
  margin-top: 0.75rem;
}

.menu-margin-right{
  padding-right: 0.65rem;
}

.logo-margin-left{
  justify-content: right;
}

.menu-link-centre{
  justify-content: center;
}

.user-icon-spacing{
  padding-left: 50px;
}
