.submit-styling {
  background-color: $primary-green !important;
  color: rgba(0, 0, 0, 0.55);
  border-radius: 10%;
}

.form-control{
  border-radius: 2%;
}

.question-styling{
  color: $primary-green;
  font-size: 24px;
  margin-left: 3rem;
  padding-top: 0.35rem;
}

.on-hover-show-card{
  display: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
}

.question-styling:hover + .on-hover-show-card {

  display: flex;
  color: red;
  position: absolute;
  background-color: lightgray;
  margin-top: 0.5rem;
  border-radius: 2%;
  z-index: 10;
  font-size: 15px;
  width: 40rem;
}
