// .text{
//   float: right;
//   left: 0;
//   width: 50%;
//   height: 100%;
//   background-position: center center;
//   background-size: cover;
//   font-size:medium;
//   padding-top: 3%;
//   margin-top: 10px;
//   margin-bottom: 10px;
//   }
.btn-green {
  width: 200px;
  padding: 8px 24px;
  background-color: $primary-green;
  color: rgb(242, 249, 244);
  text-align: center;
  text-decoration: none;
  border-radius: 5px;

}
.margin{
  margin-top: 10px;
}
